body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    position: relative;
}

.background-container {
    background-image: url('/images/howtoplay6.png');
    background-size: cover;
    height: calc(100vh - 50px);
}