body {
    font-family: sans-serif;
    background-image: url('/images/BS3.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
    color:white;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    margin: 0.5em 0;
    padding: 0 20px;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}

p {
    font-size: 2.5em;
    margin: 0.5em 0;
    padding: 0 20px;
    color: white;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}

.table {
    max-width: 600px;
    margin: 20px auto;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.table td {
    background-color: rgba(255, 255, 255, 0.8);
}

.form-inline input[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px 0;
}

.form-inline input[type="submit"]:hover {
    background-color: #0056b3;
}
