.board-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Opcionális: térköz a táblák között */
}

/* Általános tábla stílus */
.board-table {
    margin: 0 10px;
    border: 1px solid #000;
    /* width: 250px; */ /* Opcionális: adhatunk szélességet a táblának */
}

.board-table table {
    border-collapse: collapse; /* A cellák közötti vonalak kialakítása */
    width: 100%; /* Teljes szélességű tábla */
}

.board-table td {
    width: 40px;
    height: 40px;
    background-color: rgba(229, 234, 234, 0.94);
    border: 1px solid #000;
}

.board-table .ship {
    width: 10px;
    height: 10px;
    background-color: #5e8a85;
}





