body {
    font-family: Impact, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.pinimg.com/originals/de/4c/50/de4c50f62f62b9348d7c1af0f78b1056.jpg');
    background-size: 100% 100%; /* 16:9-es arány megőrzése */
    background-attachment: fixed; /* Háttérkép fix pozícióban */
}

.board-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Opcionális: térköz a táblák között */
}
.board-header h2 {
    color: black;
    border: 1px solid white;
    display: inline-block;
    padding: 5px;
}

/* Általános tábla stílus */
.board-table {
    margin: 0 10px;
    /* width: 250px; */ /* Opcionális: adhatunk szélességet a táblának */
}

.board-table table {
    border-collapse: collapse; /* A cellák közötti vonalak kialakítása */
    width: 100%; /* Teljes szélességű tábla */
}

.board-table td {
    width: 40px;
    height: 40px;
    background-color: rgba(229, 234, 234, 0.94);
    border: 1px solid #000;
    text-align: center;
}

.board-table .ship {
    width: 10px;
    height: 10px;
    background-color: #5e8a85;
}

.red-x {
    color: red;
    font-size: 24px;
    cursor: pointer;
}

.blue-x {
    color: blue;
    font-size: 24px;

}
#musicVolumeControl,
#effectVolumeControl {
    margin-top: 10px;
    width: 5cm;
}

#musicVolumeRange,
#effectVolumeRange {
    width: 100%;
}
.board-table .ship {
    width: 10px;
    height: 10px;
    background-color: #5e8a85;
    color: transparent; /* Áttetszővé tesszük a szöveget */
    text-shadow: none;
    text-indent: -9999px;
}




