<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Battleship</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <div sec:authorize="isAuthenticated()">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/leaderboard}">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">About us</a>
                </li>


            </ul>
            <ul class="navbar-nav ms-auto">
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <form th:action="@{/logout}" method="post" class="form-inline">
                        <input type="submit" value="Logout" class="btn btn-danger">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h2> Welcome to the Battleship game Home Page</h2>
<p> Valami szoveg ha kell ha kell</p>


<div class="d-grid gap-2 col-2 mx-auto">
    <a class="btn btn-primary" type="button" th:href="@{/play}">Play</a>
    <a class="btn btn-primary" type="button" th:href="@{/reg}">Registration</a>
    <a class="btn btn-primary" type="button" th:href="@{/login}">Sign in</a>

</div>



</body>
</html>
