<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/testboard.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
</head>
<body>



<h2>Játéktábla</h2>
<table>
    <tr th:each="row, rowStat : ${board.grid}">
        <td th:each="cell, cellStat : ${row}"
            th:id="${'cell-' + rowStat.index + '-' + cellStat.index}"
            th:class="${cell == 'S' ? 'table-cell ship' : 'table-cell'}"
            th:text="${cell}">~</td>
    </tr>
</table>

<h3>Hajó elhelyezése</h3>


<form id="shipForm" th:action="@{/placeShip}" method="post">
    Méret: <input type="number" name="size" id="size" />
    X koordináta: <input type="number" name="startX"  id="startX"/>
    Y koordináta: <input type="number" name="startY"  id="startY"/>
    <input type="submit" value="Hajó elhelyezése" />
</form>
<div class="board-container" id="board-container"></div>

<script type="text/javascript" src="/testBoard.js"></script>


</body>
</html>