<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/testboard.css" type="text/css">
    <link rel="stylesheet" href="/css/popup.css" type="text/css">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stomp-websocket/lib/stomp.min.js"></script>
</head>
<body >
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">Battleship</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/leaderboard}">Leaderboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">About us</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <form th:action="@{/logout}" method="post" class="form-inline">
                        <input type="submit" value="Logout" class="btn btn-danger">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="board-container">
    <div class="board-table player-board">
            <h2>Player's board</h2>
        <table>
            <tr th:each="row, rowIndex : ${playerBoard.grid}">
                <td th:each="cell, colIndex : ${row}"
                    th:id="${'cell-' + rowIndex.index + '-' + colIndex.index}"
                    th:class="${cell == 'S' ? 'table-cell ship' : 'table-cell'}"
                    th:text="${cell}"></td>
            </tr>
        </table>
    </div>

    <button id="playGame">Play Game</button>

    <div class="board-table opponent-board">
            <h2>Opponent's board</h2>
        <table>
            <tr th:each="row, rowIndex : ${enemyBoard.grid}">
                <td th:each="cell, colIndex : ${row}"
                    th:id="${'enemy-cell-' + rowIndex.index + '-' + colIndex.index}"
                    th:class="${cell == 'S' ? 'opponent-table-cell ship' : 'opponent-table-cell'}"
                    th:text="${cell}"
                    onclick="placeX(this)"></td>
            </tr>
        </table>
    </div>
</div>
<h3>Hajó elhelyezése</h3>

<button id="placeShip">Place Ships</button>

<div class="popup-container">
    <div class="popup" id="popup">
        <h2 class="popup-h2" id="popup-message"></h2>
        <a type="button" class="pop-btn" th:href="@{/testBoard}">Restart</a>
        <a type="button" class="pop-btn" th:href="@{/home}">Exit</a>
    </div>
</div>

<div class="board-container" id="board-container"></div>

<script type="text/javascript" src="/js/end.js"></script>
<script type="text/javascript" src="/js/playerShot.js"></script>
<audio id="baseSound" src="/audio/battlefield_1942.mp3" autoplay></audio>
<div id="musicVolumeControl">
    <label for="musicVolumeRange">Music volume: </label>
    <input type="range" id="musicVolumeRange" min="0" max="1" step="0.1" value="1" />
</div>

<audio id="hitSound" src="/audio/blow_up.mp3"></audio>
<audio id="waterDropSound" src="/audio/water_drop.mp3"></audio>
<div id="effectVolumeControl">
    <label for="effectVolumeRange">Effect Volume: </label>
    <input type="range" id="effectVolumeRange" min="0" max="1" step="0.1" value="1" />
</div>

<script type="text/javascript" src="/js/testBoard.js"></script>
<script type="text/javascript" src="/js/playerShot.js"></script>
<script type="text/javascript" src="/js/generatedShot.js"></script>
<script type="text/javascript" src="/js/ships.js"></script>


</body>
</html>
